.authBackground {
	box-sizing: border-box;
	position: relative;
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	max-height: 100vh;
	margin: 0;
	padding: 0;
	background: url("../../assets/backgrounds/minimalist_landscape.jpg") no-repeat top left;
	background-size: cover;
}

.authBackground .authBox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25vw;
	padding: var(--default-spacing);
	border-radius: var(--default-border-radius);
	transform: translate(-50%, -50%);
}

.authBackground .authBox .backLink {
	position: absolute;
	top: var(--default-spacing);
	left: var(--default-spacing);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: calc(var(--default-spacing) / 2);
	font-size: 0.9em;
}
.authBackground .authBox .backLink > svg { height: 0.8em; }

.authBackground .authBox .appLogo {
	--logo-size: 8em;

	display: block;
	width: var(--logo-size);
	height: var(--logo-size);
	margin: var(--default-spacing) auto;
}

.authBackground .authBox > main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--default-spacing);
}

.authBackground .authBox > main a,
.authBackground .authBox > main button { align-self: center; }

.authBackground .authBox > main a { font-size: 0.8em; }