/* --- Variables ---------------------------------------------------------------------------------------------------- */
:root {
	--foreground-color: #000000;
	--background-color-start: #D6DBDC;
	--background-color-end: #FFFFFF;
	--discrete-border-color: #E1E1E1;

	--console-background-color: #000000;
	--console-foreground-color: #FFFFFF;
	--console-parameter-color: #53CE2E;

	--success-color: #53CE2E;
	--info-color: #2E91CE;
	--warn-color: #CEB32E;
	--error-color: #E41749;

	--default-spacing: 1rem;
	--default-border-radius: 0.3125rem;

	--mono-font: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
	"Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
	"Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-color: #FFFFFF;
		--background-color-start: #000000;
		--background-color-end: #000000;
	}
}

/* --- Body --------------------------------------------------------------------------------------------------------- */
html, body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background:
		linear-gradient(to bottom, transparent, rgb(var(--background-color-end)))
		rgb(var(--background-color-start));
	color: rgb(var(--foreground-color));
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

/* --- Global styles ------------------------------------------------------------------------------------------------ */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* --- Links -------------------------------------------------------------------------------------------------------- */
a {
	color: inherit;
	text-decoration: none;
}