/* --- Variables ---------------------------------------------------------------------------------------------------- */
:root {
	--foreground-color: #000000;
	--background-color: #F0F0F0;
	--discrete-border-color: #E1E1E1;

	--header-background-color: #FFFFFF;

	--console-background-color: #000000;
	--console-foreground-color: #FFFFFF;
	--console-parameter-color: #53CE2E;

	--success-color: #53CE2E;
	--info-color: #2E91CE;
	--warn-color: #CEB32E;
	--error-color: #E41749;

	--default-spacing: 1rem;
	--default-border-radius: 0.3125rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-color: #FFFFFF;
		--background-color: #000000;
	}
}

/* --- Body --------------------------------------------------------------------------------------------------------- */
html, body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background: var(--background-color);
	color: rgb(var(--foreground-color));
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

/* --- Global styles ------------------------------------------------------------------------------------------------ */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* --- Links -------------------------------------------------------------------------------------------------------- */
a {
	color: inherit;
	text-decoration: none;
}