.messages {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	z-index: 100000;
}

.messages .messagesBox {
	position: absolute;
	top: var(--default-spacing);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--default-spacing);
	left: 50%;
	transform: translate(-50%);
}

.messages .messagesBox .message {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: var(--default-spacing);
	border-radius: var(--default-border-radius);
	pointer-events: all;
}

.messages .messagesBox .message.success { background: var(--success-color); }
.messages .messagesBox .message.info { background: var(--info-color); }
.messages .messagesBox .message.warn { background: var(--warn-color); }
.messages .messagesBox .message.error { background: var(--error-color); }