.editorLine {
	position: relative;
	display: inline-block;
	width: 100%;
}

.editorLine .editorLineNumber {
	position: absolute;
	top: 0;
	left: calc(var(--left-padding) * -0.5);
	font-weight: 100;
}

.editorLine.emptyLine .editorLineNumber {
	top: -1em; /* C'est sale, mais ça marche. */
}

.editorLine .editorLineError {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 1em;
	color: var(--error-color);

}

.editorLine .editorLineError .errorText {
	display: inline-block;
	width: 100%;
	white-space: pre;
	text-overflow: ellipsis;
	overflow: hidden;
}

.editorLine .editorLineError::before {
	content: "";
	position: absolute;
	top: 0;
	left: calc(var(--left-padding) * -1);
	width: calc(100% + var(--left-padding));
	height: 100%;
	background: var(--error-color);
	opacity: 0.25;
}